{% comment %}
   Central nav bar for GBE. Included via base.html
{% endcomment %}    
      <div id='cssmenu'>
      <ul>
        <li class='active'><a href='{% url 'home' %}'><span>Home</span></a></li>
        <li class='has-sub'><a href='/ticketing/'><span>I Want To...</span></a>
          <ul>
             <li><a href='/ticketing/'><span>Buy Tickets</span></a></li>
             <li><a href='{% url 'act_create' %}'><span>Perform at the Expo</span></a></li>
             <li><a href='{% url 'class_create' %}'><span>Submit A Class</span></a></li>
             <li><a href='{% url 'propose_class' %}'><span>Suggest A Class or Panel</span></a></li>
             <li><a href='/bid/panelsit/'><span>Sit On A Panel</span></a></li>
             <li><a href='{% url 'volunteer_create' %}'><span>Volunteer</span></a></li>
             <li><a href='/bid/costume/'><span>Display Costume</span></a></li>
             <li><a href='{% url 'vendor_create' %}'><span>Sell My Stuff</span></a></li>
             <li><a href='/bid/ad/'><span>Advertise</span></a></li>
             <li class='last'><a href='{% url 'reserve_hotel' %}'><span>Reserve a Hotel Room</span></a></li>
          </ul>
       </li>
       <li class='has-sub'><a href='/Show/Schedule'><span>Shows</span></a> 
          <ul>
             <li><a href='/DisplayEvent/1/'><span>Rhinestone Review</span></a></li>
             <li><a href='/DisplayEvent/2/'><span>Late Friday</span></a></li>
             <li><a href='/DisplayEvent/3/'><span>The Main Event</span></a></li>
             <li class='last'><a href='/Display/Event/4/'><span>Sunday Showcase</span></a></li> 
          </ul>
       </li>
       <li class='has-sub'><a href='/Conference'><span>The Conference</span></a>
          <ul>
             <li><a href='/Class/Schedule'><span>Class Schedule</span></a></li>
             <li><a href='/Class/Details'><span>Class Descriptions</span></a></li>
             <li class='last'><a href='/Teacher/Bios'><span>Teachers</span></a></li>
          </ul>
       </li>
       <li class='has-sub'><a href='/Events'><span>Events at GBE</span></a>
          <ul>
             <li><a href='/Schedule'><span>All Events</span></a></li>
             <li class='last'><a href='/Calendar'><span>Schedule Of Events</span></a></li>
          </ul>
       </li>
       <li><a href='/fashionfair'><span>Vintage Fashion Fair</span></a></li>
       <li class='has-sub last'><a href='/About'><span>About Us/Contact</span></a>
          <ul>
             <li><a href='/contact'><span>Contact</span></a></li>
             <li class='last'><a href='/staffbio'><span>Staff</span></a></li>
          </ul>
       </li>

       {% if user.profile.special_privs %}

         <li class='has-sub'><a href='Special'><span>Special</span></a>
           <ul>
             {% for priv in user.profile.special_privs %}
               <li>
                 <a href='{{ priv.url }}'>
                   <span>{{ priv.title }}
                   </span>
		 </a>
	       </li>   
	     {% endfor %}



	    {% if user.profile.special_privs.ticketing %}
            <li class='has-sub'><a href='/ticketing/'><span>Ticket Admin</span></a>
                <ul>
		{% for tpriv in user.profile.special_privs.ticketing %}
		<li> <a href='{{ tpriv.url }}'><span>{{tpriv.title}}</span></a> </li>
		{% endfor %}
                </ul>
            </li>
	    
          {% endif %}
</ul>
      {% endif %}
{% comment %}
                    <li><a href='/ticketing/ticket_items'><span>Ticket Items</span></a></li>
{% endcomment %}


   
      
       {% if user.is_authenticated %}
       <li class='has-sub'><a href='/logout'><span>Logout</span></a>
          <ul>
             <li><a href='/update_profile/'><span>Update Profile</span></a></li>
          </ul>
       </li>
       {% else %}
       <li class='has-sub'><a href='{% url 'login' %}'><span>Login</span></a>
          <ul>
             <li><a href='{% url 'register' %}'><span>Register</span></a></li>
          </ul>
       {% endif %}
    </ul>
    </div>
